.ZeUWU {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 500;
	color: #DCCA87;
	background-color: #111111;
	padding: 1.5rem 3rem;
	border-radius: 3px;
	font-size: 1.4rem;
	&:not(.outlined):hover {
		background-color: #333333;
	}
	&.outlined {
		border: 3px solid #DCCA87;
		background-color: transparent;
		&:hover {
			opacity: 0.8;
		}
	}
}
